#user-registration-form,
#user-login-form {
  width: 80%;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */

  display: grid;
  grid-template-columns: 250px auto 250px;
  gap: 15px;
  column-gap: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
input {
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
input ~ span {
  color: red;
}
h1,
#already {
  text-align: center;
  padding: 4rem;
}

.signupTitle {
  text-align: center;
  grid-column: 1fr;
  text-decoration: underline;
}

.btn-primary {
  grid-column-start: 2;
  grid-column-end: 3;
}
body {
  background-image: url("/assets/restaurant_1.jpg");
  background-attachment: fixed ;  /* Fix position */
  background-size: cover;  
}

.overlay {
  position: absolute;  /* Ensures the overlay lays on top of the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  /* Stretches the overlay to cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5);  /* Black color with 50% opacity */
}

@media screen and (max-width: 768px) {
  #user-registration-form,
  #user-login-form {
    display: flex;
    flex-direction: column;
  }
  input + span {
    display: none;
  }
}