.banner-section {
    position: relative;
    height: 50vh;
    background-image: url(/assets/Recipe\ detail\ banner.jpg);
    background-size: cover;
    background-position: center;
}

.recipe-desc-container{
    margin-left: 4rem;
}

.bg-gray-100 {
    background-color: #fcd6d6;
}

.table>:not(caption)> {
 background-color: transparent;
}

.carousel-item {
    height: 420px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.recipe-desc-box {
    padding: 30px 50px;
    margin-left: -50px;
    background-color: #fbecd9;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.recipe-img-box .bxslider li img {
    height: 400px;
    width: 600px;
}

.recipe-details {
    padding-left: 50px;
    /* Adjust as needed */
}

.flex-1 {
    flex: 1;
}

@media (max-width:1024px) {
    .recipe-desc-box {
        padding: 30px;
        margin-left: 0px;
    }
}

@media (max-width:768px) {
    td {
        width: 100% !important;
    }
    .recipe-desc-container {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}